.css-10d30g3-MuiPaper-root-MuiDialog-paper{
    max-width: 60% !important;
   height: 80vh;
   padding: 0px 2% ;
}
.css-kw13he-MuiDialogContent-root {
    padding: 0 !important;
    align-items: center;
}
.css-1vi2gis-MuiButtonBase-root-MuiButton-root,.css-1m0v3yc-MuiButtonBase-root-MuiButton-root {
    min-width: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
}