.isCatOpen {
    opacity: 1 !important;
    visibility: visible !important;
    top: 118% !important;
  }
  
.catTabNav .MuiTabScrollButton-horizontal{
    display: none !important;
}
.catTabNav{
    overflow-x: hidden;

}

.catTabNav .MuiTabs-flexContainer{
    gap:8px;
}